.access-more-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: #27282b;
  padding-top: 300px;
  min-height: calc(100vh - 356px);
}

.access-more-box {
  display: block;
  text-align: center;
  background-color: #27282b;
  border: 2px solid darkgray;
  border-radius: 15px;
  padding: 20px;
  width: 370px;
  max-width: 100%;
}

.loading {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  color: #f5b031;
  margin-bottom: 16px;
  animation: fadeInOut 2s infinite;
}

.access-more-text {
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.access-more-signup-btn {
  background-color: transparent;
  color: #f5b031;
  border: 2px solid #f5b031;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: #fff;
}