@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  body {
    font-size: 20px;
    background-color: #27282b;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
  }

  h1.guild {
    font-size: 35px;
    text-transform: uppercase;
  }

  .link {
    text-decoration: none;
  }

  .stats-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 75px;
    background-color: #1b1c1f;
  }

  .stat-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    text-align: center;
  }

  h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #f5b031;
  }

  .data {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 50px;
  }

  .row {
    text-transform: lowercase;
    font-size: 20px;
    font-family: 'Verdana';
    margin-right: 50px;
    margin-left: 50px;
  }

  .header-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    color: #fff;
    border-bottom: 1px solid #8d8c8c;
    margin-top: 40px;
  }

  .left-group {
    display: flex;
  }

  .right-group {
    display: flex;
  }

  h2 {
    font-size: 20px;
    margin: 2px;
    margin-bottom: 15px;
    margin-right: 25px;
    display: inline-block;
  }

  .chart {
    margin-top: 100px;
  }

  h3 {
    margin: 2px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
  }

  .header-container h2,
  h3 {
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .active-filter {
    color: #f5b031;
  }

  .tabcontent {
    display: none;
    padding: 20px;
    background-color: #f2f2f2;
    color: #333;
  }

  .icon-text-container {
    display: inline-flex;
    align-items: center;
  }

  .header-container h2.active,
  .header-container h3.active {
    color: #f5b031;
  }

  .highlight-number {
    color: #f5b031;
    font-weight: bold;
  }


  .flex-container {
    display: flex;
  }

  .list-container ul {
    list-style: none;
    padding-left: 0;
  }

  .list-container li {
    font-size: 30px;
  }

  .list-container {
    flex-basis: 50%;
    padding: 10px;
  }


  .details-title {
    vertical-align: middle;
    font-size: 20px;
  }

  .link {
    color: #fff;
  }

  svg {
    vertical-align: middle;
    margin-right: 20px;
  }

  .server-link {
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .server-link:hover {
    text-decoration: underline;
  }

  .guild-title {
    margin-top: -50px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .details-logo {
    width: 50px;
    /* Adjust the width as needed */
    height: 50px;
    /* Adjust the height as needed */
    margin-right: 18px;
    /* Adjust the spacing between the icon and the text as needed */
    vertical-align: middle;
    border-radius: 9%;
  }

  .arrow-up::before {
    content: '\2191';
    color: greenyellow;
    margin-right: 5px;
    margin-bottom: 0px;
  }

  .arrow-down::before {
    content: '\2193';
    color: rgb(230, 88, 88);
    margin-right: 5px;
    margin-bottom: 0px;
  }

  .server-text {
    vertical-align: middle;
  }

  table {
    font-size: 0.9em;
    font-family: monospace;
    color: #fff;
  }

  table thead th:first-child {
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #242424;
  }

  table th,
  table td:not(:first-child) {
    text-align: right;
    padding: 14px 8px;
  }

  .server-icon {
    width: 35px;
    /* Adjust the width as needed */
    height: 35px;
    /* Adjust the height as needed */
    margin-right: 18px;
    /* Adjust the spacing between the icon and the text as needed */
    vertical-align: middle;
    border-radius: 50%;
  }


  table th {
    font-size: 14px;
    text-transform: uppercase;
  }

  table tbody tr {
    padding: 0 18px;
    border-bottom: 1px solid #dddddd;
  }

  table tbody tr:last-of-type {
    border-bottom: 2px solid #dddddd;
  }