@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  body {
    font-size: 20px;
    background-color: #27282b;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
  }

  h1.guild {
    font-size: 35px;
    text-transform: uppercase;
  }

  .link {
    text-decoration: none;
  }

  .reaction-count {
    color: rgb(44, 44, 44);
  }

  .stats-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 75px;
  }

  .stat-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    text-align: center;
  }

  h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #f5b031;
  }



  h2 {
    font-size: 20px;
    margin: 2px;
    margin-bottom: 15px;
    margin-right: 25px;
    display: inline-block;
  }

  .chart {
    margin-top: 100px;
  }
  

  .flex-container {
    display: flex;
  }

  .list-container ul {
    list-style: none;
    padding-left: 0;
  }

  .list-container li {
    font-size: 30px;
  }

  .list-container {
    flex-basis: 50%;
    padding: 10px;
  }


  .details-title {
    vertical-align: middle;
    font-size: 20px;
  }

  .link {
    color: #fff;
  }

  svg {
    vertical-align: middle;
    margin-right: 20px;
  }

  .server-link {
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .server-link:hover {
    text-decoration: underline;
  }

  .guild-title {
    margin-top: -50px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }

  .details-logo {
    width: 50px;
    /* Adjust the width as needed */
    height: 50px;
    /* Adjust the height as needed */
    margin-right: 18px;
    /* Adjust the spacing between the icon and the text as needed */
    vertical-align: middle;
    border-radius: 9%;
  }

  .arrow-up::before {
    content: '\2191';
    color: greenyellow;
    margin-right: 5px;
    margin-bottom: 0px;
  }

  .arrow-down::before {
    content: '\2193';
    color: rgb(230, 88, 88);
    margin-right: 5px;
    margin-bottom: 0px;
  }

  .server-text {
    vertical-align: middle;
  }


  .server-icon {
    width: 35px;
    /* Adjust the width as needed */
    height: 35px;
    /* Adjust the height as needed */
    margin-right: 18px;
    /* Adjust the spacing between the icon and the text as needed */
    vertical-align: middle;
    border-radius: 50%;
  }

